./datalad/log/*
./mriqc/mriqc_slurm/log/*
./fmriprep/fmriprep_slurm/log/*
*.e
*.o
*.py[cod]
**/.DS_Store
**/__pycache__
**/spacetop_prep/redcap/*.csv
**/visualresource
spacetop_prep/physio/archive
spacetop_prep/physio/utils/tests
\.idea
venvs
